{% extends 'blog/base.html'  %}
{%block title%}Contact{%endblock%}
{%block content%}
<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="down-contact">
          <div class="row">
            <div class="col-lg-8">
              <div class="sidebar-item contact-form">
                <div class="sidebar-heading">
                  <h1>Send a Message</h1>
                </div>

                <div class="content">
                  <form id="contact" action="{%url "contact"%}" method="post">
                    {% csrf_token %}
                      <div class="mb-3">
                        <label for="name" class="form-label">Your name</label>
                        <input
                          name="name"
                          type="text"
                          id="name"
                          class="form-control"
                          placeholder="Your name"
                          required
                        />
                      </div>
                      <div class="mb-3">
                        <label for="email" class="form-label">Your email</label>
                          <input
                            name="email"
                            type="text"
                            id="email"
                            class="form-control"
                            placeholder="Your email"
                            required
                          />
                      </div>
                      <div class="mb-3">
                          <label for="subject" class="form-label">Subject</label>
                          <input
                            name="subject"
                            type="text"
                            id="subject"
                            class="form-control"
                            placeholder="Subject"
                          />
                      </div>
                      <div class="mb-3">
                          <label for="message" class="form-label">Your message</label>
                          <textarea
                            name="message"
                            rows="6"
                            id="message"
                            class="form-control"
                            placeholder="Your Message"
                            required
                          ></textarea>
                      </div>
                      <div class="mb-3">
                          <button
                            type="submit"
                            id="form-submit"
                            class ="btn btn-secondary"
                          >
                            Send Message
                          </button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
